---
---
<h2>Archive</h2>
<ul>
{% for post in site.posts %}
  <li>
    <time datetime="{{ post.post_date }}">{{ post.post_date | date: "%F %R%z" }}</time>:
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>

