---
---
      <h2>
        Enjoying the stay ? Donate to The Not Café !
      </h2>
      <figure class="img">
          <img src="/assets/2020/coffee-heart.jpg">
          <figcaption>
            The Not Café - Enjoy Technology
          </figcaption>
      </figure>

      <p><span class="color">!&#9749;</span> Thank you for your donation and let's keep
      relaxing and enjoying technology together.</p>

      <p>Donations are accepted via Paypal and Bitcoin. Choose your preferred
      option. For credit cards, choose Paypal. For Bitcoin, use the wallet address or the
      QR code.</p>

      <h4>Paypal</h4>

      <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="not.cafe@protonmail.com" />
      <input type="hidden" name="item_name" value="The Not Cafe - Enjoy Technology" />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="/assets/2020/paypal-donate.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" src="/assets/2020/paypal-pixel.gif" width="1" height="1" />
      </form>

      <h4>Bitcoin</h4>

      <p>Bitcoin address:<br>
      <input type="text" value="1JWTDpLt1jPgxbS8dCnsCodjV1keQyUi8A" id="wallet" size="35" readonly>
      <button id="copy-wallet" class="js-required">Copy</button>
      </p>

      <p><img src="/assets/2020/wallet.png" alt="bitcoin wallet QR code"></p>
      <script>
        function on_copy_wallet() {
                  var wallet = el('wallet');
                  wallet.focus();
                  wallet.setSelectionRange(0, 100);
                  document.execCommand('copy');
        }

        function on_ready() {
                  el('copy-wallet').addEventListener('click', on_copy_wallet);
        }
      </script>
      <script src="/assets/site.js"></script>
