---
layout: default
---
{% for post in site.posts %}
<article>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <figure class="img">
    <a href="{{ post.url }}">
      <img src="{{ post.image | uri_escape }}" alt="post image" class="img-small">
    </a>
  </figure>

  {{ post.excerpt }}

  <ul class="tags">
  {% assign tags = post.tags | sort %}
  {% for tag in tags %}
    <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>

  <p><a href="{{ post.url }}">(Read more...)</a></p>

</article>
{% endfor %}
