/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v20/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2'), url('/assets/Inconsolata-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v20/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2) format('woff2'), url('/assets/Inconsolata-Bold.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v10/hv-XlzJ3KEUe_YZkamw2.woff2) format('woff2'), url('/assets/Damion-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto-Regular'), local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2'), url('/assets/Roboto-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto-Bold'), local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2'), url('/assets/Roboto-Bold.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Symbola", sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
 	font-size: 0.9rem;
	line-height: 1.2rem;

	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-lines: 2;
	hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #c79c60;
	line-height: normal;
	margin-bottom: 0.2em;
}

h1, h2 {
	clear: both;
}

a {
	text-decoration: none;
	color: #c79c60;
}

a:hover {
	text-decoration: underline;
}

header {
	background: black;
	color: white;
	padding: 1rem calc(10vw - 1.3rem);
}

.max-width {
	max-width: 75rem;
	margin: 0 auto;
}

#header-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

#site-title {
	font-size: calc(0.7rem + 4.3vw);
	line-height: 1;
	font-family: 'Damion';
	color: #c79c60;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

#site-title * {
	font-family: inherit;
	text-decoration: none;
}

#site-logo {
	height: calc(0.7rem + 6.8vw);
	vertical-align: bottom;
}

.bottom-baseline {
	display: inline-block;
}

nav {
	display: inline-block;
	font-size: calc(0.4rem + 1.2vw);
	font-weight: 700;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

nav ul {
	list-style: none;
	display: inline-block;
}

nav ul li {
	display: inline;
	margin-left: 0.9em;
}

#dropdown-checkbox, #dropdown-icon {
	display: none;
	font-size: calc(1.1rem + 2vw);
}

@keyframes drop-down {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

main {
	padding: 0 calc(10vw - 1.3rem);
	margin: 1rem 0;
	text-align: justify;
}

#radio {
	margin: 1.2rem 0 0.5rem 0;
	font-family: 'Damion';
	font-size: calc(1rem + 1vw);
	color: #c79c60;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

audio {
	vertical-align: baseline;
	max-height: calc(0.7rem + 0.8vw);
	max-width: 72vw;
	margin-left: calc(0.3rem + 1vw);
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

article {
	clear: both;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

article::after, blockquote::after {
	content: ' ';
	display: block;
	clear: both;
}

img {
	max-height: 100vh;
}

figure.img {
	clear: both;
	display: table;
	float: right;
	border: 1px solid;
	border-color: #aaaaaa;
	padding: 0.2rem;
	margin: 0.5rem 0 0.5rem 1rem;
}

figure.img:hover {
	border-color: #c79c60;
}

figure.img img {
	display: block;
	max-width: 100%;
	width: calc(210px + 15vw);
}

figure.img img.img-small {
	width: calc(40px + 10rem);
}

figure.img figcaption {
	margin-top: 0.3rem;
	display: table-caption;
	caption-side: bottom;
	font-size: smaller;
	line-height: 1rem;
}

#img-license {
	display: inline;
	margin: 0 0 0 1rem;
	float: right;
}

p, li, blockquote {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

li {
	margin-left: 1rem;
}

ol li {
	margin-left: 1.4rem;
}

.color {
	color: #c79c60;
}

.clear {
	clear: both;
}

.highlight {
	clear: both;
}

pre {
	background-color: #eeeeee;
	border: 1px solid;
	border-color: #aaaaaa;
	padding: calc(0.1rem + 1vw);
	margin: 1rem auto;
	font-family: 'Inconsolata', monospace;
	font-size: calc(0.6rem + 0.4vw);
	overflow-x: scroll;
	line-height: 1.2em;
}

pre span {
	font-family: inherit;
	font-size: inherit;
}

pre .cm, pre .c1 {
	color: #1090a0;
}

pre .kt, pre .k {
	color: #e07000;
	font-weight: 700;
}

pre .cp {
	color: #309050;
	font-weight: 700;
}

pre .o {
	color: #a01010;
}

pre .mi {
	color: #3060f0;
}

pre .s, pre .se {
	color: #c09000;
}

pre .nb {
	color: #a020a0;
	font-weight: 700;
}

.language-python pre .nb {
	color: #e07000;
}

pre .nf {
	color: #209020;
}

code {
	font-family: 'Inconsolata', monospace;
	background-color: #eeeeeeee;
	-webkit-hyphens: none;
	hyphens: none;
}

form {
	margin: 1rem 0;
}

ul.tags {
	margin: 1rem 1rem 1rem 0;
	text-align: left;
	display: inline-block;
}

ul.tags li {
	font-size: 0.9em;
	display: inline-block;
	margin: 0;
	background-color: #c0e0f8;
	padding: 0.35rem;
	border-radius: 3px;
	line-height: 1.1em;
}

ul.tags li.img {
	padding: 0;
	background-color: initial;
}

ul.tags li.img img {
	height: 1.591rem;
	vertical-align: bottom;
	position: relative;
	top: 0.38rem;
}

ul.tags a {
	color: black;
}

blockquote {
	background: #fefef0;
	border-left: 0.6em solid #dfa849;
	padding: 0.5rem 1rem 1px 1rem;
	color: #534333;
}

blockquote p {
	font-family: "Times New Roman", Times, "Nimbus Roman", "Liberation Serif", serif;
	font-size: 1rem;
	font-style: italic;
	line-height: initial;
}

table {
	border: 3px solid #c79c60;
        margin: 0.5rem auto;
	font-size: calc(0.6rem + 0.4vw);
	border-collapse: collapse;
}

thead {
	-webkit-hyphens: none;
	hyphens: none;
}

tr {
	border: 1px solid #eeeedd;
}

tr:nth-child(even) {
	background-color: #f5f2eb;
}

th, td {
	padding: 4px 6px;
	text-align: start;
        min-width: 4.5em;
}

div.large-table-1 {
	display: table;
	margin: auto;
	border-collapse: collapse;
}

div.large-table-2 {
	border: 3px solid #c79c60;
	max-width: calc(80vw + 2.6rem - 8px);
}

table.large-table {
	min-width: 34rem;
        margin: auto;
        border: none;
}

table.large-table th, table.large-table td {
	min-width: 4.5em;
}

footer {
	background: black;
	color: white;
	padding: 1rem calc(10vw - 1.3rem);
	clear: both;
}


blockquote.citation {
	background: #fff8f8;
	border: 0;
	color: #c79c60;
}

blockquote.citation p, blockquote.citation a {
	font-family: "Times New Roman", Times, "Nimbus Roman", "Liberation Serif", serif;
	font-size: 2rem;
	text-align: center;
}

blockquote.citation img {
	height: 5rem;
	float: left;
	margin-right: 0.7rem;
	margin-bottom: 0.1rem;
}

.js-required {
	display: none;
}

:target {
	font-weight: bold;
}

@media (max-width: 12.5rem) {
	#site-title {
		font-size: 2.2rem;
	}
	#site-logo {
		font-size: 3rem;
	}
	nav {
		font-size: 0.5rem;
	}
	#radio {
		font-size: 0.5rem;
	}
	audio {
		max-height: 0.8rem;
		max-width: 7rem;
		margin-left: 0.4rem;
	}
	pre {
		padding: 0.225rem;
		font-size: 0.65rem;
	}
	table {
		font-size: 0.65rem;
	}
}

@media (max-width: 39.9376rem) {
	nav {
		display: none;
		flex-basis: 39.9375rem;
		margin-top: 0.5rem;
	}

	nav ul li {
		display: block;
	}

	#dropdown-icon {
		display: inline-block;
	}

	#dropdown-checkbox:checked ~ nav {
		display: inline-block;
	}

	#dropdown-checkbox:checked ~ nav ul {
		animation: 200ms forwards drop-down;
		transform-origin: top;
	}

	figure.img {
		float: none;
		margin: 0.5rem auto;
	}

	figure.img img {
		width: auto;
	}

	figure.img img.img-small {
		width: auto;
	}

	#img-license {
		float: none;
		display: block;
		margin: 1rem 0 1rem 0;
	}

	ul.tags {
		display: block;
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
	}

	ul.tags li.img img {
		position: initial;
		height: 2rem;
		margin-right: 0.3rem;
	}
	blockquote.citation p, blockquote.citation a {
		font-size: 1.5rem;
		text-align: left;
	}
	blockquote.citation img {
		height: 4.7rem;
	}
	div.large-table-2 {
		overflow-x: scroll;
	}
}

@media (min-width: 90.5rem) {
	#site-title {
		font-size: 4.5915rem;
	}
	#site-logo {
		height: 6.854rem;
	}
	nav {
		font-size: 1.486rem;
	}
	#radio {
		font-size: 1.905rem;
	}
	audio {
		max-height: 1.424rem;
		max-width: 50rem;
		margin-left: 1.205rem;
	}
	figure.img img {
		width: calc(210px + 13.575rem);
	}
	pre {
		padding: 1.005rem;
		font-size: 1rem;
	}
	table {
		font-size: 1rem;
	}
}
