---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/site.css" rel="stylesheet">
  <link rel="icon" href="/assets/favicon.svg">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <header>
    <div class="max-width">
      <div id="header-flex">
        <div id="site-title">
          <a href="/"><img src="/assets/not-coffee.svg" alt="café" id="site-logo"> The Not&nbsp;Café</a>
        </div>
        <input type="checkbox" id="dropdown-checkbox"> <label for="dropdown-checkbox" id=
        "dropdown-icon">≡</label>
        <nav>
          <ul>
            <li>
              <a href="/tags">TAGS</a>
            </li>

            <li>
              <a href="/archive">ARCHIVE</a>
            </li>

            <li>
              <a href="/about">ABOUT</a>
            </li>

            <li>
              <a href="/donate">DONATE</a>
          </ul>
        </nav>
      </div>

      <div id="radio">
        Radio <audio preload="metadata" controls="" loop="">
          <source src="/assets/radio.opus" type="audio/ogg; codecs=opus">
          <source src="/assets/radio.caf" type="audio/x-caf; codecs=opus">
          <source src="/assets/radio.mka" type="audio/x-matroska; codecs=opus">
          <source src="/assets/radio.opus" type="audio/ogg">
          <source src="/assets/radio.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
  </header>

  <main>
    <div class="max-width">
      {{ content }}
    </div>
  </main>

  <footer>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">
      <img src="/assets/cc-by-sa.png" alt="CC BY-SA" id="img-license">
    </a>
    <p>Copyright 2020 - The Not Café - Enjoy Technology
    </p>
  </footer>
</body>
</html>

