---
layout: article
---
  <h2>{{ page.title }}</h2>

  <h5>Posted at <time>{{ page.post_date }}</time>
  {% if page.edit_date %}
          , <em>last edit: <time>{{ page.edit_date }}</time></em>
  {% endif %}
  </h5>

  <ul class="tags">
  {% for tag in page.tags %}
    <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>
  <ul class="tags">

    <li class="img">
      <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url | uri_escape }}&via=thenotcafe" target="_blank">
        <img src="/assets/Twitter_Social_Icon_Rounded_Square_Color.svg" alt="Twitter">
      </a>
    </li>
    <li class="img">
      <a href="https://mastodon.technology/@notcafe" target="_blank">
        <img src="/assets/mastodon.svg" alt="Mastodon">
      </a>
    </li>
    <li class="img">
      <a href="https://wa.me/?text={{ page.url | absolute_url | cgi_escape }}">
        <img src="/assets/whatsapp.svg" alt="e-mail">
      </a>
    </li>
    <li class="img">
      <a href="mailto:?subject={{ page.title | uri_escape }}&body={{ page.url | absolute_url | cgi_escape }}">
        <img src="/assets/Tokyoship_Mail_icon.svg" alt="e-mail">
      </a>
    </li>
    <li class="img">
      <a href="https://facebook.com/dialog/feed?app_id=391574425434492&link={{ page.url | absolute_url | cgi_escape }}" target="_blank">
        <img src="/assets/f_logo_RGB-Blue_1024.svg" alt="Facebook">
      </a>
    </li>
  </ul>

  {{ content }}
